.Skills{
    background-color: rgb(53, 53, 53);
    color: white;
    text-align: center;
}

.tileHolder{
    display: grid;
    grid-template-columns: auto auto;
    padding: 5px;
}

@media all and (min-width: 850px) {
    .tileHolder{
        grid-template-columns: auto auto auto auto auto;
    }
}