.About{
    padding: 3px;
    background-color: rgb(209, 209, 209);
    display: grid;
    grid-template-columns: auto;
}


@media all and (min-width: 703px) {
    .About{
        grid-template-columns: auto auto;
    }
}