.Article{
    color: black;
    border: solid;
    border-width: 1px;
    text-align: center;
    background-color: white;
    border-color: rgb(189, 189, 189);
    padding: 5px;
    margin-bottom: 1px;
}

.Article p{
    font-size: 20px;
}