img{
    width: 100%;
    max-height: 500px;
    background-color: rgb(209, 209, 209);
    transition: .5s;
}

.black{
    color: black;
}

.someText{
    flex: 1;
    display: none;
    margin-left: 100px;
    display: none;
    flex-direction: column;
}

.someText h1{
    font-size: 65px;
    font-weight: bolder;
    color: white;
    margin-bottom: 30px;
}

.someText h1:nth-child(2){
    padding-left: 20px;
}

.someText h1:nth-child(3){
    padding-left: 40px;
}

.someText p{
    font-size: 20px;
    color: white;
}

.somePictures{
    flex: 2;
}

.carDiv a{
    color: rgb(158, 158, 255);
    text-decoration: underline;
}

.carDiv{
    width: inherit;
}


.bgImg{
    background-image: url("./Images/newbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@media all and (min-width: 652px) {
    .carDiv{
        padding: 2% 2% 2% 2%;
    }

    img{
        border-radius: 15px;
    }

    
}

@media all and (min-width: 844px) {
    .carDiv{
        margin-left: 20%;
        margin-right: 20%;
        align-items: center;
        width: 380px;
    }

    .someText h1{
        font-size: 40px;
    }

    .bgImg{
        height: 500px;
        padding: 10px;
    }

    .someText{
        display: flex;
    }
}

@media all and (min-width: 1070px) {
    .carDiv{
        margin-left: 25%;
        margin-right: 25%;
        width: 450px;
    }

    .someText h1{
        font-size: 65px;
    }
}

@media all and (min-width: 1273px) {
    .carDiv{
        margin-left: 30%;
        margin-right: 30%;
        width: 500px;
    }
}

