img{
    width: 100%;
    max-height: 580px;
    background-color: rgb(209, 209, 209);
    transition: .5s;
}

.black{
    color: black;
}

.carDiv h1{
    text-align: center;
    display: none;
}

.bgImg{
    background-image: url("./Images/newbackground.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media all and (min-width: 652px) {
    .carDiv{
        margin-left: 15%;
        margin-right: 15%;
        padding-left: 2%;
        padding-right: 2%;
        padding-top: 2%;
        padding-bottom: 2%;
        box-shadow: 1px 1px 10px 1px;
        border-radius: 50px;
    }

    img{
        border-radius: 15px;
    }
}

@media all and (min-width: 844px) {
    .carDiv{
        margin-left: 20%;
        margin-right: 20%;
    }
}

@media all and (min-width: 1070px) {
    .carDiv{
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media all and (min-width: 1273px) {
    .carDiv{
        margin-left: 30%;
        margin-right: 30%;
    }
}

