.FloatingIcon{
    text-align: center;
}

.FloatingIcon h1{
    flex: 1;
    display: inline;
    padding: 3px;
}

.FloatingIcon h1:first-child{
    background-color: rgb(53, 53, 53);
    margin-right: 10px;
}

.FloatingIcon h1:last-child{
    background-color: white;
    color: black;
    border-radius: 10px;
}