.bar{
    width: 25px;
    height: 3px;
    color: white;
    background-color: white;
    border-radius: 10px;
}

.bar:nth-child(2){
    margin-top: 8px;
    margin-bottom: 8px;
}

.buttonIcon{

}

.NavButton{
    flex: 1;
}